<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>simpleUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>892202451D83D9D700ACA193</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8922025B1D83D9D700ACA193</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>892202661D83D9D700ACA193</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
